body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerPanel {
  line-height: 0.5;
  text-align: center;
  width: 95vw;
  margin: 2.5vh auto;
  overflow: auto;
  border: 3px solid rgb(43, 124, 40);
  padding: 10px;
  border-radius: 5px;
}

.optionsPanel {
  line-height: 0.5;
  text-align: center;
  width: 95vw;
  margin: 2.5vh auto;
  overflow: auto;
  border: 3px solid rgb(43, 124, 40);
  padding: 10px;
  border-radius: 5px;
}

.gamePanel {
  line-height: 0.5;
  text-align: center;
  width: 95vw;
  margin: 2.5vh auto;
  overflow: auto;
  border: 3px solid rgb(43, 124, 40);
  padding: 10px;
  border-radius: 5px;
}

.mapPanel {
  text-align: center;
  width: 95vw;
  height: 100%;
  margin: 2.5vh auto;
  overflow: auto;
  border: 3px solid rgb(43, 124, 40);
  padding: 10px;
  border-radius: 5px;
}

.google-map {
  height: 60vh;
  width: 100%;
}

.placeName {
  float: left;
}

.timer {
  float: right;
}

.button {
  width: 80%;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.98);
}

.inputField {
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.correctPing {
  opacity: 0;
  border: 0px solid rgb(43, 124, 40);
  border-radius: 50%;
  animation: load 1s ease-out 1;
}

.incorrectPing {
  opacity: 0;
  border: 0px solid rgb(124, 43, 40);
  border-radius: 50%;
  animation: load 2s ease-out 1;
}

@keyframes load {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    border: 30px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}
