body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerPanel {
  line-height: 0.5;
  text-align: center;
  width: 95vw;
  margin: 2.5vh auto;
  overflow: auto;
  border: 3px solid rgb(43, 124, 40);
  padding: 10px;
  border-radius: 5px;
}

.gamePanel {
  text-align: center;
  width: 95vw;
  line-height: 0.5;
  margin: 2.5vh auto;
  overflow: auto;
  border: 3px solid rgb(43, 124, 40);
  padding: 10px;
  border-radius: 5px;
}

.mapPanel {
  width: 95vw;
  height: 100%;
  margin: 2.5vh auto;
  overflow: auto;
  border: 3px solid rgb(43, 124, 40);
  padding: 10px;
  border-radius: 5px;
}

.google-map {
  display: flex;
  align-items: center;
  height: 60vh;
  width: 92.2vw;
}

.map-h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

.placeName {
  float: left;
}

.timer {
  float: right;
}

.button {
  width: 80%;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.98);
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}
