body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerPanel {
  line-height: 0.5;
  text-align: center;
  width: 80vw;
  margin: 30px auto;
  overflow: auto;
  border: 3px solid rgb(43, 124, 40);
  padding: 10px;
  border-radius: 5px;
}

.progressPanel {
  width: 80vw;
  margin: 30px auto;
  overflow: auto;
  border: 3px solid rgb(43, 124, 40);
  padding: 10px;
  border-radius: 5px;
}

.mapPanel {
  width: 80vw;
  height: 60vh;
  margin: 30px auto;
  overflow: auto;
  border: 3px solid rgb(43, 124, 40);
  padding: 10px;
  border-radius: 5px;
}

.google-map {
  display: flex;
  height: 60vh;
  width: 80vw;
}

.map-h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

.pin {
  display: flex;
  width: 40px;
}

.pin-icon {
  font-size: 10vw;
}
